.header {
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.game-title {
  background-color: #78909c;
  width: 150px;
  border-radius: 15px;
}

h1 {
  margin: 0px;
}

.timer {
  background-color: #78909c;
  width: 60px;
  border-radius: 10px;
}

.round-display {
  background-color: #78909c;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
