.bullet-hit {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  margin-top: 50%;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.tutorial-popup2 {
  border: solid rgba(0, 0, 0, 0.6);
  border-width: 80px 70px 235px 5px;
  position: absolute;
  width: 230px;
  height: 322px;
  overflow: auto;
}

.tutorial-popup3 {
  border: solid rgba(0, 0, 0, 0.6);
  border-width: 80px 5px 235px 240px;
  position: absolute;
  width: 60px;
  height: 322px;
  overflow: auto;
}

.tutorial-popup4 {
  border: solid rgba(0, 0, 0, 0.6);
  border-width: 405px 2px 200px 2px;
  position: absolute;
  width: 98%;
  height: 30px;
  overflow: auto;
}
