h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-menu {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  border-radius: 25px;
}

.main-menu img {
  height: 30px;
}

.main-menu-button {
  margin-top: 10px;
  width: 60%;
  height: 50px;
}

.big-title {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tutorial-button {
  width: 50px;
  margin-bottom: 2px;
}

.tutorial2 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 410px;
  margin-left: 2px;
  color: black;
  z-index: 3;
}

.tutorial3 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial4 {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 430px;
  margin-left: 2px;
  color: black;
  z-index: 3;
}

.tutorial5 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 250px;
  margin-left: 2px;
  color: black;
  z-index: 3;
}

.tutorial6,
.tutorial10 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 380px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial7,
.tutorial9,
.tutorial11121314 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 450px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial8 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 300px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial15 {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 300px;
  margin-left: 2px;
  color: black;
  z-index: 3;
}

.tutorial16,
.tutorial23 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial17 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 180px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}
.tutorial18,
.tutorial19 {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 170px;
  margin-left: 5px;
  color: black;
  z-index: 3;
}

.tutorial20 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 170px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}
.tutorial21 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 230px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}
.tutorial22 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 290px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial24 {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 210px;
  margin-left: 5px;
  color: black;
  z-index: 3;
}
.tutorial25 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 260px;
  margin-left: 60px;
  color: black;
  z-index: 3;
}
.tutorial26 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 350px;
  margin-left: 15px;
  color: black;
  z-index: 3;
}

.tutorial29 {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 280px;
  margin-left: 2px;
  color: black;
  z-index: 3;
}
.tutorial30 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 260px;
  margin-left: 50px;
  color: black;
  z-index: 3;
}
.tutorial31 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 260px;
  margin-left: 5px;
  color: black;
  z-index: 3;
}

.tutorial33 {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  border: 3px solid black;
  position: absolute;
  margin-top: 450px;
  margin-left: 20px;
  color: black;
  z-index: 3;
}

.clear-logo {
  display: flex;
  justify-content: space-around;
}
