.App {
  text-align: center;
  background-color: #376bd2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.game-board {
  background-color: #282c34;
}

.hp-bar {
  width: auto;
  margin: 5px;
  background-color: #09ff00b8;
}
