@keyframes animatedBackground {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

.App {
  text-align: center;
  background-color: #376bd2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("./background.jpg");
  background-size: cover;
  animation: animatedBackground 240s linear infinite;
}

.game-board {
  position: relative;
  background-color: #282c34;
  border-radius: 25px;
}

.hp-bar {
  width: auto;
  margin: 5px;
  border-radius: 50px;
  background: linear-gradient(to left, red, green 0%, green);
}

.hp-bar3 {
  width: auto;
  margin: 5px;
  border-radius: 50px;
  background: linear-gradient(to left, red, green 50%, green);
}

.hp-bar2 {
  width: auto;
  margin: 5px;
  border-radius: 50px;
  background: linear-gradient(to left, red, green 100%, green);
}

.hp-bar1 {
  width: auto;
  margin: 5px;
  border-radius: 50px;
  background: linear-gradient(to left, red, green 150%, green);
}

.hp-bar0 {
  width: auto;
  margin: 5px;
  border-radius: 50px;
  background: linear-gradient(to left, red, green 200%, green);
}

img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0px;
  box-shadow: none;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: -300px;
}
