.App {
  text-align: center;
  background-color: #376bd2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.game-board {
  position: relative;
  background-color: #282c34;
}

.hp-bar {
  width: auto;
  margin: 5px;
  background: linear-gradient(to left, red, green 0%, green);
}

.hp-bar3 {
  width: auto;
  margin: 5px;
  background: linear-gradient(to left, red, green 50%, green);
}

.hp-bar2 {
  width: auto;
  margin: 5px;
  background: linear-gradient(to left, red, green 100%, green);
}

.hp-bar1 {
  width: auto;
  margin: 5px;
  background: linear-gradient(to left, red, green 150%, green);
}

.hp-bar0 {
  width: auto;
  margin: 5px;
  background: linear-gradient(to left, red, green 200%, green);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button {
  padding: 0px;
}
