.lower-play-board {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.pattern-display {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pattern-card {
  margin: 5px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-card {
  margin: 5px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #68a1be;
}

.place-bullet-button {
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.bullet-left {
  width: 40px;
  border-radius: 100%;
  border: 1px solid black;
}
.place-bullet-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
